@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Boogaloo|Julius+Sans+One');

/*Body background*/
body{
	background-color: #FFFFFF;
	margin: 5%;
}
/*Description for Sofia Link*/
.header{
	font-size: 50px;
	text-align: center;
	color: #9BBFB5;
	padding: 2%;
	word-spacing: 9px;
	font-weight: 2px;
	text-decoration: underline;
	padding-bottom: 0.02%;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
}
/*Colour for Sofia Link*/
.home:visited{
	color:#9BBFB5;
}
.home{
	color:#9BBFB5;
}
.home:hover{
	color:#B8D9D0;
}
/*Styling the page links*/
body, html {
  height: 1%;
  margin: 10%;
  font-family: Arial;
}


/* Style tab links */
.tablink {
  background-color: #B8D9D0;
  color: #09504F;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  width: %;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
  padding: 2%;
  padding-left: 10%;
}

.tablink:hover {
  background-color: #F2F2F2;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #595758;
  display: none;
  padding-left: 20px;
  height: 100%;
  font-family: 'Arima Madurai', cursive;
  text-align: center;
}

#home {background-color: #FFFFFF;}
#fall {background-color: #FFFFFF;}
#interim {background-color: #FFFFFF;}
#spring {background-color: #FFFFFF;}

/*Adding style to portfolio*/
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    font-family: 'Boogaloo', cursive;
    color: #595758;
    font-weight: bold;
}

.row {
    margin: 100px -100px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 23.5%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #B8D9D0;
    padding: 10px;
    font-family: 'Boogaloo', cursive;
    color: #595758;
}

.title:link{
	color: #595758;
}
.title:visited{
	color: #595758
}

.title:hover{
	color:#8C8C8C;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/*
.flex-bar{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	padding-bottom: 1%;
	word-spacing: 2px;
	font-size: 25px;
}

ul#bar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #172A40;
}

li#bar01{
	float:left;
}

li a#fall02,#interim02,#spring02{
	display: block;
	color:#09504F;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 30px;
	word-spacing: 2px;
}

li a#fall02:hover,#interim02:hover,#spring02:hover{
	background-color: #09504F;
}

a:visited{
	color:#09504F;
}

a:hover{
	color:#172A40;
}

.column {

	float: left;
	width: 30%;
	padding:;
	border-right: 1px solid #B2A289;
	text-align: center;
	align-content: center;
}

.row:after{
content: "";
display: table;
clear: both;
}

@media (max-width: 600px) {
	.column{
		width: 100%;
	}
}

h1#fall01{
	
	align-content: center;
	color: #172A40;
	text-decoration-style: underline;
}

ul#ul01{
	align-content: left;
	font-size: 25px;
	padding-left: 12%;
	list-style-type: arrow;
	color: #DDEFFF;
}

h1#interim01{
	
	align-content: center;
	color: #172A40;
}

ul#ul02{
	align-content: left;
	font-size: 25px;
	padding-left: 12%;
	list-style-type: arrow;
	color: #172A40;
}

h1#spring01{
	
	align-content: center;
	color: #172A40;
}

ul#ul03{
	align-content: left;
	font-size: 25px;
	padding-left: 12%;
	list-style-type: arrow;
	color: #172A40;
}
*/