
body{
	background-color: #DCF8FF;
}

.header{
	font-size: 50px;
	text-align: center;
	background-color: #DCF8FF;
	color: #90E9FF;
	padding: 2%;
	word-spacing: 2rem;
	font-weight: 2px;
	text-decoration: underline;
	padding-bottom: 0.5%;
}

.flex-bar{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: center;
	padding: 2%;
	background: #73BBCC;
	font-size: 45px;
}

ul#bar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #73BBCC;
}

li#bar01{
	float:left;
}

li a#fall02,#interim02,#spring02{
	display: block;
	color:#48757F;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	font-size: 30px;
}

li a#fall02:hover,#interim02:hover,#spring02:hover{
	background-color: #90E9FF;
}

a:visited{
	color:#48757F;
}

a:hover{
	color:#6E7C7F;
}

h1#spring01{
	padding-left: 42%;
	padding-top: 2%;
	align-content: center;
	color: #48757F;
}

ul#ul03{
	align-content: center;
	font-size: 25px;
	padding-left: 42%;
	list-style-type: arrow;
	color: #6E7C7F;
}


.column {

	float: left;
	width: 30%;
	padding:;
	border-right: 1px solid #73BBCC;
	text-align: center;
	align-content: center;
	font-size: 30px;
	text-decoration-style: underline;
	color:#90E9FF;
}

.row:after{
content: "";
display: table;
clear: both;
}

@media (max-width: 600px) {
	.column{
		width: 100%;
	}
}